<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alimentacion</title>
    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="css/cdn.jsdelivr.net_npm_bootstrap@5.1.3_dist_css_bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="css/alimentacion.css" />
  </head>
  <body>
    <header><%- include('header.ejs') %></header>

    <main>
      <section class="container" id="alimentacion">
        <h2 class="subtitulo">Lactancia Materna</h2>
        <div class="imgAlimentacion mb-3">
          <img
            src="img/imgLibro/lactancia.jpeg"
            alt="Lactancia"
            class="img-fluid rounded-circle"
            style="width: 400px; height: 250px"
          />
        </div>
        <h6 class="title">
          LA ALIMENTACIÓN DEL NIÑO, EN SU PRIMERA INFANCIA, SE DIVIDE EN TRES
          PERÍODOS: LACTANCIA MATERNA, ALIMENTACIÓN COMPLEMENTARIA Y
          ALIMENTACIÓN DEL PREESCOLAR Y ESCOLAR.
        </h6>
        <h5 class="title">LACTANCIA MATERNA</h5>
        <div class="imgAlimentacion mb-3">
          <img
            src="img/imgLibro/mamadera-sinFondo.png"
            alt="Lactancia"
            class="img-fluid"
            style="max-width: 300px"
          />
        </div>
        <p class="text-parrafo">
          La experiencia de amamantar es única. Es un
          <span>mometo exclusivo entre la mamá y su bebé</span>, un contacto
          afectivo y vincular erfecto. Es la primera fuente de alimento y
          nutrición para el bebé.<br />
          La lactancia Materna reduce a mortalidad infantil por enfermedades de
          la infancia, como la diarrea o la neumonía, y permite una pronta
          recuperación en caso de enfermedad.<br />
          Tiene ventajas nutricionales, inmunológicas, psicológicas y
          económicas. Es pura, segura, higiénica y nutritiva. No requiere ningún
          tipo de preparación. Está siempre disponible y a temperatura perfecta.
          Es una sustancia que cambia permanentemente, adaptándose a las
          necesidades del bebé, según la edad del mismo, el horario del dia y el
          momento de cada mamada.<br />
          El inicio de la lactancia debe ser inmediatamente después del parto.
          Es importante evitar que se le den mamaderas con suero o con leches
          que no sean leche materna.<br />
          Se recomienda <span>Lactancia Materna "a demanda"</span> durante los
          primeros meses de vida. Esto quiere decir que se debe dar el pecho
          cada vez que el bebé lo pide, de día y noche el tiempo que quiera. Con
          el transcurso de los meses, la ingesta de leche materna se vuelve más
          regular y controlada.<br /><br />
          La superioridad de la leche materna sobre cualquier otro alimento
          determina que este sea el <span>alimento exclusivo</span> aconsejado y
          recomendado para el recién nacido y lactante sano durante
          <span>6 primeros meses de vida</span>. Cubre todas las necesidades
          nutricionales durante este tiempo. Después de los 6 meses de vida,
          deben comenzar a recbir otros alimentos complementarios.<br /><br />
          Cada vez que el bebé toma el pecho debe estar entre 8 y 10 minutos de
          cada mama; no es recomendable prolongar la toma por más tiempo. Puede
          ofrecerse al niño uno o los dos pechos cada vez. Si tomó de los dos,
          en la próxima toma debe empezar por el último que ha tomado.<br /><br />
          La madre que amamanta debe recibir una alimentación variada, siguiendo
          las mismas recomendaciones que durante el embarazo. El alcohol, el
          café y el tabaco pueden hacer daño al bebé, de modo que es mejor no
          consumirlos.
        </p>
        
        <div class="imgAlimentacion mb-3">
          <img
            src="img/imgLibro/medico-sinFondo.png"
            alt="Medico"
            class="img-fluid"
            style="max-width: 300px"
          />
        </div>
        <p class="text-parrafo">
          La Lactancia Materna solamente en situaciones especiales, muy poco
          frecuentes y siempre bajo indicación médica, deberá ser complementada
          o reemplazada con leche maternizada también conocida como Fórmula de
          Inicio para niños hasta 6 meses de edad y por Fórmula de Continuación
          para niños entre los 6 y 12 meses de edad.<br /><br />
          Las cantidades de cada toma las determinará el médico pediatra de
          acuerdo con las necesidades de energía y nutrientes según edad y
          peso.<br /><br />
        </p>
        <h6 class="title">
          MÁS ALLÁ DE LA LECHE MATERNA COMO SUSTANCIA EN SÍ, ES INDUDABLE QUE
          HAY UNA CIERTA MAGIA EN EL ARTE DE AMAMANTAR, PUESTO QUE MEDIANTE ESTE
          ACTO DE AMOR, LA MAMÁ ESTÁ SATISFACIENDO TANTO LAS NECESIDADES
          EMOCIONALES COMO FÍSICAS DE SU BEBÉ. AMAMANTAR REQUIERE ESFUERZO,
          TIEMPO Y MUCHO AMOR.
        </h6>
      </section>
      <section class="container" id="alimentacion1">
        <h2 class="subtitulo">Alimentación Complementaria</h2>
        <p class="text-parrafo">
          Se inicia <span>a partir de los 6 meses de vida</span>. Al comienzo,
          el niño deberá conocer la cuchara, que debe ser lo más suave posible y
          de bordes lisos, colocándola bien sobre el medio de la lengua para
          evitar que el niño saque el alimento de la boca. Las cantidades de
          alimento deberán ser pequeñas y se irán aumentando de acuerdo a la
          aceptación. Poco a poco, se incorporarán todos los alimentos para que
          el niño, alrededor del año, coma lo mismo que el resto de la familia
          (evitando fritos, picantes y otros alimentos que por su tamaña o
          consistencia sean peligrosos). Se deben respetar los horarios de
          alimentación y evitar utilizar la comida como premio o castigo. El
          momento de la comida debe ser agradable, para
          <span> compartir en familia</span>, transmitir cultura, evitar
          discuciones, peleas. No debe estar prendida la televisión.<br /><br />
          Los niños necesitan ayuda para comer, con tranquilidad y cariño,
          paciencia y perseverancia. Darle de comer en su propio plato. Es
          importante dejarlo que use sus manitos para llevarse comida a la boca.
          Es parte del aprendizaje.
        </p>
        <h5 class="title">RECOMENDACIONES A LOS PADRES</h5>
        <ol class="blue-number-list">
          <li>
            No se debe dar ningún alimento sin el consejo de su médico pediatra.
          </li>
          <li>
            Las preparaciones deberán ser de consistencia acorde a la edad del
            niño y su desarrollo, no aguadas, para que sean más nutritivas. En
            general, a los 6 meses es papilla, a los 8 meses comienza con
            algunos trozos pequeños y al año la semejante a la commida del
            adulto.
          </li>
          <li>
            La administración de alimentos distintos a la leche debe hacerse con
            paciencia, sin forzar al niño. El cambio de un sabor a otro require
            que se lo ofrezcas varias veces. Los sabores dulces suelen ser mejor
            aceptados.
          </li>
          <li>
            No se añadirá sal ni azúcar a la comida durante el primer año de
            vida.
          </li>
          <li>
            La leche de vaca (entera y descremada), no se ofrecerá hasta después
            de los 12 meses. Tampoco yogures o derivados lácteos fluidos.
          </li>
          <li>
            El primer alimento que puede complementar la lactancia son los
            cereales. Las papillas de cereales pueden prepararse con leche
            materna o la leche que le corresponda según su edad.
          </li>
          <li>
            Las verduras se ofrecerán a partir de los 6 meses en forma de puré,
            evitando los primeros meses las espinacas, brócoli, repollitos de
            bruselas y remolacha. Estas pueden ser introducidas a partir de los
            12 meses.
          </li>
          <li>
            Es aconsejable utilizar fruta fresca e ir introduciéndolas una a una
            a partir de los 6 meses. Suelen administrarse comenzando en forma de
            jugos naturales y sin agregar azúcar.
          </li>
          <li>
            Como bebida lo ideal es el agua hervida y enfriada, también jugo de
            frutas naturales, colados y diluidos con un poco de agua, sin
            azúcar. Si toma el pecho, evitar la utilización de tetinas y
            biberones para administrar líquidos. Se deben preferir las
            cucharaditas.
          </li>
          <li>
            Ofrecer las carnes a partir de los 6 meses de edad. En primer lugar,
            el pollo, de forma cocida y triturado con la verdura.
            Posteriormente, se introduce el cordero y después la ternera.
          </li>
          <li>
            El huevo y el pescado, conviene introducirlos después de los 8-9 y
            10 meses. Se ofrecerá la yema cocida, disuelta o triturada en
            caldos, puré o papillas, y la clara no se ofrecerá hasta después de
            los 12 meses.
          </li>
          <li>
            Las legumbres pueden ofrecerse a partir de los 9 meses. Bien cocidas
            y trituradas, como puré.
          </li>
          <li>
            La alimentación debe ser lo más variada posible para evitar que se
            cansen, aburran y para que aprendan a comer de todo.
          </li>
        </ol>
        <div class="container mt-4">
          <div class="card bg-light border border-info">
            <div class="card-body">
              <h3 class="title">En cuanto a la higiene es importante:</h3>
              <hr />
              <!-- Línea separadora -->
              <ul>
                <li>
                  Lavarse las manos frecuentemente con abundante agua y jabón,
                  antes de manipular o servir alimentos, luego de ir al baño o
                  cambiar los pañales.
                </li>
                <li>
                  Lavarle las manos a los niños antes de comer y mantener sus
                  uñas cortas y limpias.
                </li>
                <li>
                  Si el agua no es segura, hervirla previamente y colocarle 2
                  gotas de lavandina por litro.
                </li>
                <li>
                  Conservar el agua en recipientes limpios, cerrados, en lugares
                  oscuros y frescos.
                </li>
                <li>Lavar bien las verduras y las frutas con agua segura.</li>
                <li>
                  Conservar los alimentos en lugares secos y frescos.
                  Preferentemente en la heladera.
                </li>
                <li>Evitar el contacto de los alimentos con los insectos.</li>
                <li>
                  Evitar recalentar los alimentos, intentar dar alimentos
                  frescos recién preparados.
                </li>
                <li>
                  La carne debe estar bien cocida (no jugosa), teniendo especial
                  cuidado con las preparaciones con carne molida que pueden
                  quedar crudas en el centro.
                </li>
                <li>
                  Evitar el contacto de la carne cruda con otros alimentos; por
                  ejemplo, vegetales.
                </li>
                <li>
                  Limpiar adecuadamente los utensilios que se van a usar para
                  preparar los distintos alimentos. Evitar usar los mismo
                  utensilios para carnes y vegetales.
                </li>
                <li>
                  Las mamaderas, tetinas y roscas deben lavarse muy bien y
                  hervirlas en una olla 2 veces por día.
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="imgAlimentacion mb-3">
          <img
            src="img/imgLibro/higiene-sinFondo.png"
            alt="Higiene"
            class="img-fluid"
            style="max-width: 300px"
          />
        </div>
        <h6 class="title">SECUENCIA DE INTRODUCCIÓN DE LOS ALIMENTOS</h6>
        <div class="container">
          <div class="card border border-info">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2 col-12 bg-light text-center text-color">MENOR DE 1 AÑO DE EDAD</div>
                <div class="col-md-5 col-12">
                  <ol class="blue-number-list">
                    <li>Hasta 6 meses</li>
                    <li>6 meses</li>  
                    <li>7-8 meses</li>  
                    <li>9-12 meses</li>
                  </ol>
                  <hr class="d-none d-md-block"/>
                </div>
                <div class="col-md-5 col-12 bg-light">
                  <ol class="blue-number-list">
                    <li>Lactancia Materna</li>
                    <li>Lactancia Materna + 1 comida</li> 
                    <li>Lactancia Materna + 2 comidas</li>  
                    <li>Lactancia Materna + 3 comidas</li>  
                  </ol>
                  <hr />
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-12 bg-light text-center text-color">MAYORES DE 1 AÑO DE EDAD</div>
                <div class="col-md-5">
                  <p>
                    A partir del año de vida, los niños pueden compartir la mesa familiar y 
                    comer los mismos alimentos que consume el resto de la familia.
                    <hr />
                    A cumplir el año, el bebé ya debe comer un plato mediano completo.
                  </p>
                  <hr />
                </div>
                <div class="col-md-5 col-12 bg-light">
                  <p>
                    Sus alimentos deben ser distribuidos en varias comidas a los largo del día; por ejemplo:
                    <ul>
                      <li>Desayuno</li>
                      <li>Almuerzo</li>
                      <li>Media tarde</li>
                      <li>Cena</li>
                      <li>Colaciones 1-2 a lo largo del día</li>
                    </ul>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-12 bg-light text-center text-color">MAYORES DE 2 AÑOS DE EDAD</div>
                <div class="col-md-5 col-12">
                  <p>
                    Necesitan más o menos un plato común completo. Comen con más frecuencia que los grandes.
                  </p>
                </div>
                <div class="col-md-5 col-12 bg-light"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="imgAlimentacion mb-3">
          <img
            src="img/imgLibro/secuenciaAlimentos-sinFondo.png"
            alt="Higiene"
            class="img-fluid"
            style="max-width: 300px;"
          />
      </section>
      <section class="container" id="alimentacion2">
        <h2 class="subtitulo">Alimentación del Preescolar y Escolar</h2>
        <p class="text-parrafo">
          La distribución de alimentos del niño en edad preescolar y escolar a lo largo del día  debe dividirse en 5 comidas:
          desayuno, media mañana, almuerzo, media tarde y cena.
        </p>
        <ul>
          <li>Servir los alimentos de forma atractiva y variada.</li>
          <li>Es importante que el nño coma junto a su familia.</li>
          <li>Usar preparaciones sencillas que aporten poca grasa (asados, a la plancha, al horno, al vapor,
            a la brasa, a la parrilla, escalfados), sin sal. Es preferible usar aceite cuando los alimentos ya estén cocidos.
          </li>
          <li>En los estofados controlar el aceite. Evitar los fritos. Retirar la capa grasa tras enfriar los caldos
            con huesos, tocino o carnes grasas.
          </li>
          <li>Se deben preferir los hidratos de carbono complejos (harinas, cereales y derivados) y deben disminuirse los simples
            (azúcar, dulces y derivados) para la prevención de la obesidad, las caries, entre otras enfermedades. 
          </li>
          <li>Educación de los niños en la compra responsable de alimentos, lectura y comprensión del etiquetado.</li>
        </ul>
        <div class="imgAlimentacion mb-3">
          <img
            src="img/imgLibro/alimentacionFlia.jpeg"
            alt="alimentacion flia"
            class="img-fluid rounded-circle"
            style="width: 400px; height: 250px"
          />
        </div>
        <h5 class="title">GRÁFICA DE LAS GUÍAS ALIMENTARIAS PARA LA POBLACIÓN ARGENTINA</h5>
        <img src="img/imgLibro/consejo3-sinFondo.png" alt="guia" class="centered-img img-responsive rounded img-thumbnail" />
        <h5 class="title">MENSAJES DE LAS GUÍAS ALIMENTARIAS</h5>
        <div class="container-guiaAlimentos">
          <div class="row">
            <div class="col-md-3">
              <img src="img/imgLibro/gymAgua-sinFondo.png" 
              alt="gym"
              class="img-fluid my-0"
              style="max-width: 200px"
              />
            </div> 
            <div class="col-md-9">
              <h6 class="title">1- INCORPORAR A DIARIO ALIMENTOS DE TODOS LOS GRUPOS Y REALIZAR AL MENOS 30 MINUTOS DE ACTIVIDAD FÍSICA.</h6>
              <ul>
                <li>Realizar 4 comidas al día (desayuno, almuerzo, merienda y cena), incluir verduras, frutas, legumbres. cerelaes,
                  leche, yogur o queso, huevos, carnes y aceites.
                </li>
                <li>Realizar actividad física moderada continua o fraccionada todos los días para mantener una vida activa.</li>
                <li>Comer tranquilo, en lo posible acompañado, y moderar el tamaño de las porciones.</li>
                <li>Elegir alimentos preparados en casa en lugar de procesados.</li>
                <li>Mantener una vida activa, un peso adecuado y una alimentación saludable previene enfermedades.</li>
              </ul>
            </div> 
          </div>  
          <div class="row">
            <div class="col-md-3">
              <img src="img/imgLibro/consejo1-sinFondo.png" 
                  alt="agua"
                  class="img-fluid"
                  style="max-width: 200px"
              />
            </div>
            <div class="col-md-9">
              <h6 class="title">2- TOMAR A DIARIO 8 VASOS DE AGUA SEGURA.</h6>
              <ul>
                <li> A lo largo del día beber al menos 2 litros de líquidos, sin azúcar, preferentemente agua.</li>
                <li>No esperar a tener sed para hidratarse.</li>
                <li>Para lavar los alimentos y cocinar, el agua debe ser segura.</li>
              </ul>  
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <img src="img/imgLibro/consejo2-sinFondo.png" 
                  alt="frutas"
                  class="img-fluid"
                  style="max-width: 200px"
              />
            </div>
            <div class="col-md-9">
              <h6 class="title">3- CONSUMIR A DIARIO 5 PORCIONES DE FRUTAS Y VERDURAS EN VARIEDAD DE TIPOS Y COLORES.</h6>
              <ul>
                <li>Consumir al menos medio plato d everduras en el almuerzo, medio plato en la cena y 2 o 3 frutas por día.</li>
                <li>Lavar las frutas y verduras con agua segura.</li>
                <li>Las frutas y verduras de estación son más accesibles y de mejor calidad.</li>
                <li>El consumo de frutas y verduras diario disminuye el riesgo de padecer obesidad, diabetes, cáncer de colon y 
                  enfermedades cardiovasculares.
                </li>
              </ul> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <img src="img/imgLibro/consejo4-sinFondo.png" 
                  alt="agua"
                  class="img-fluid"
                  style="max-width: 200px"
              />
            </div>
            <div class="col-md-9">
              <h6 class="title">4- REDUCIR EL USO DE SAL Y EL CONSUMO DE ALIMENTOS CON ALTO CONTENIDO DE SODIO.</h6>
              <ul>
                <li>Cocinar sin sal, limitar el agregado en las comidas y evitar el salero en la mesa.</li>
                <li>Para reemplazar la sal, utilizar condimentos de todo tipo (pimienta, perejil, ají, pimentón, orégano, etc.).</li>
                <li>Los fiambres, embutidos y otros alimentos procesados (como caldos, sopas y conservas) contienen elevada cantidad de sodio;
                  al elegirlos en la compra, leer las etiquetas.
                </li>
                <li>Disminuir el consumo de sal previene la hipertensión, enfermedades vasculares y renales, entre otras.</li>
              </ul> 
            </div>  
          </div>
          <div class="row">
            <div class="col-md-3">
              <img src="img/imgLibro/consejo5-sinFondo.png" 
                  alt="golosinas"
                  class="img-fluid"
                  style="max-width: 200px"
              />
            </div>
            <div class="col-md-9">
              <h6 class="title">5- LIMITAR EL CONSUMO DE BEBIDAS AZUCARADAS Y DE ALIMENTOS CON ELEVADO CONTENIDO DE GRASAS, AZÚCAR Y SAL.</h6>
              <ul>
                <li>Limitar el consumo de golosinas, amasados de pastelería y productos de copetín (como palitos salados, papas fritas de paquete, etc.).</li>
                <li>Limitar el consumo de bebidas azucaradas y la cantidad de azúcar agregada a infusiones.</li>
                <li>Limitar el consumo de manteca, margarina, grasa animal y crema de leche.</li>
                <li>Si se consumen, elegir porciones pequeñas y/o individuales. El consumo en exceso de estos alimentos predispone
                  a la obesidad, hipertensión, diabetes y enfermedades cardiovasculares, entre otras. 
                </li>
              </ul> 
            </div>
          </div> 
          <div class="row">
            <div class="col-md-3">
              <img src="img/imgLibro/consejo6-sinFondo.png" 
                  alt="quesos"
                  class="img-fluid"
                  style="max-width: 200px"
              />
            </div>
            <div class="col-md-9">
              <h6 class="title">6- CONSUMIR DIARIAMENTE LECHE, YOGUR O QUESO, PREFERENTEMENTE DESCREMADOS.</h6>
              <ul>
                <li>Incluir 3 porciones al día de leche, yogur o queso.</li>
                <li>Al comprar mirar la fecha de vencimiento y elegirlos al final de la compra para mantener la cadena de frío.</li>
                <li>Elegir quesos blandos antes que duros y aquellos que tengan menor contenido de grasas y sal.</li>
                <li>Los alimentos de este grupo son fuentes de calcio y son necesarios en todas las edades.</li>
              </ul> 
            </div>
          </div> 
          <div class="row">      
            <div class="col-md-3">
              <img src="img/imgLibro/consejo7-sinFondo.png" 
                alt="carnes"
                class="img-fluid"
                style="max-width: 200px"
              />
            </div>
            <div class="col-md-9">
              <h6 class="title">7- AL CONSUMIR CARNES QUITARLE LA GRASA VISIBLE, AUMENTAR EL CONSUMO DE PESCADO E INCLUIR HUEVO.</h6>
              <ul>
                <li>La porción diaria de carne se representa por el tamaño de la palma de la mano.</li>
                <li>Incorporar carnes con las siguientes frecuencias: pescado 2 o más veces por semana, otras carnes blancas
                  2 veces por semana y carnes rojas hasta 3 veces por semana.
                </li>
                <li>Incluir hasta un huevo por día especialmente si no se consume la cantidad necesaria de carne.</li>
                <li>Consumir las carnes hasta que no queden partes rojas o rosadas en su interior previene las enfermedades transmitidas por alimentos.</li>
              </ul> 
            </div>
          </div> 
          <div class="row">  
            <div class="col-md-3">
              <img src="img/imgLibro/consejo8-sinFondo.png" 
                  alt="legumbres"
                  class="img-fluid"
                  style="max-width: 200px"
              />
            </div>
            <div class="col-md-9">
              <h6 class="title">8- CONSUMIR LEGUMBRES, CEREALES PREFERENTEMENTE INTEGRALES, PAPA, BATATA, CHOCLO O MANDIOCA.</h6>
              <ul>
                <li>Combinar legumbres y cereales es una alternativa para reemplazar la carne en algunas comidas.</li>
                <li>Entre las legumbres puede elegir arvejas, lentejas, soja, porotos y garbanzos y, entre los cereales, arroz integral, avena
                  maíz, trigo burgol, cebada y centeno, entre otros.
                </li>
                <li>Al consumir papa o batata, lavarlas adecuadamente antes de la cocción y cocinarlas con cáscara.</li>
              </ul> 
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <img src="img/imgLibro/consejo9-sinFondo.png" 
                  alt="aceites"
                  class="img-fluid"
                  style="max-width: 200px"
              />
            </div>
            <div class="col-md-9">
              <h6 class="title">9- CONSUMIR ACEITE CRUDO COMO CONDIMENTO, FRUTAS SECAS O SEMILLAS.</h6>
              <ul>
                <li>Utilizar dos cucharadas soperas al día de aceite crudo.</li>
                <li>Optar por otras formas de cocción antes que la fritura.</li>
                <li>En lo posible alternar aceites (como girasol, maíz, soja, girasol alto oleico, oliva y canola).</li>
                <li>Utilizar al menos una vez por semana un puñado de frutas secas sin salar (maní, nueces, almendras, avellanas, castañas, etc.)
                  o semillas sin salar (chía, girasol, sésamo, lino, etc.)
                </li>
                <li>El aceite crudo, las frutas secas y semillas aportan nutrientes esenciales.</li>
              </ul> 
            </div>
          </div>
          <div class="row">  
            <div class="col-md-3">
              <img src="img/imgLibro/consejo10-sinFondo.png" 
              alt="vino"
              class="img-fluid"
              style="max-width: 200px"
              />
            </div>
            <div class="col-md-9">
              <h6 class="title">10- EL CONSUMO DE BEBIDAS ALCOHÓLICAS DEBE SER RESPONSABLE, LOS NIÑOS, ADOLESCENTES Y MUJERES EMBARAZADAS
                NO DEBEN CONSUMIRLAS, EVITARLAS SIEMPRE AL CONDUCIR.
              </h6>
              <ul>
                <li>Un consumo responsable en adultos es, como máximo al día, dos medidas.</li>
                <li>El consumo no responsable de alcohol genera daños graves y riesgos para la salud.</li>
              </ul> 
            </div>
          </div>   
        </div>
      </section>
      <h2 class="frase"><span class="comillas">"</span>Tu hijo es tu tesoro, es nuestra esperanza y es el futuro del país<span class="comillas">"</span></h2>
      <!-- FOOTER -->
      <%- include('footer.ejs') %>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/cdn.jsdelivr.net_npm_bootstrap@5.1.3_dist_js_bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>
