.btn-bd-primary{font-weight: 600;color: #fff;background-color: #d13c3c;border-radius: #d13c3c;}
.btn-bd-primary:hover, .btn-bd-primary:active{font-weight: 600;color: #fff;background-color: #972228;border-radius: #972228;}
.btn-bd-primary:focus{box-shadow: 0 0 0 3px rgba(121, 82, 179, 0.25);}

.img-logo {
    width: 10%;
    height: 10%;
}